extends layout.pug

block content
	if msg
		h2= msg
	form(method='POST')
		.form-group
			label.contactForm(for='email')
			input.form-control#email(placeholder='email@email.com' type='email' name='email' required)
		.form-group
			label.contactForm(for='password')
			input.form-control#password(placeholder='******' type='text' name='password' required)
		button(type='submit') Submit